* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    /* font-family: 'Cedarville Cursive', cursive; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


body {
    min-height: 100vh;
    /* background: url(./WangXian_pics/Mo.Dao.Zu.Shi.full.3523102.jpg) no-repeat; */
    background: black;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    overflow-y: auto;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}



.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    border: .1rem solid rgba(255, 255, 255, .5);
    border-radius: 1rem;
    backdrop-filter: blur(20px);
}

.logo {
    font-size: 32px;
    color: black;
    text-decoration: none;
    font-weight: 700;
    filter: drop-shadow(0 0 5px lightyellow);
}

.navbar a {
    font-size: 18px;
    color: black;
    filter: drop-shadow(0 0 5px lightyellow);
    text-decoration: none;
    font-size: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: deeppink;
}

body {
    background: url(./megsPhotos/flower.png);
    background-size: 300px;
    background-position: center;
    pointer-events: auto;
    transition: .3s ease;
}

.main.active {
    filter: blur(15px);
    pointer-events: none;
}

#menu-icon {
    font-size: 3.6rem;
    color: black;
    filter: drop-shadow(0 0 5px white);
    display: none;
}

span {
    color: deeppink;
}


/* the about section */


.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    /* background: deeppink; */
}

.about-img img {
    width: 35vw;
}

.heading {
    text-align: center;
    font-size: 4.6rem;
}

.about-content h2 {
    text-align: left;
    line-height: 1.2;
}

.about-content h3 {
    font-size: 2.6rem;
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
    flex: 1 1 30rem;
    background: transparent;
    border: .2rem solid rgba(255, 255, 255, .5);
    border-radius: 2rem;
    backdrop-filter: blur(20px);
    padding: 3rem 2rem 4rem;
    text-align: left;
    /* border: .2rem solid var(--bg-color); */
    transition: .5s ease;
    font-size: 1.6rem;
}


/* slideshow section */


* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  /* left: 40%; */
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
/* .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
} */

span {
    color: deeppink;
}

/* sticky image */



/* .stickyimg {
    overflow: auto;
}

.stickyimg::after {
    content: "";
    clear: both;
    display: table; 
} */


.stickyimg {
    display: flex;

}

.textinfo {
    flex: 1 1 30rem;
    background: transparent;
    border: .2rem solid rgba(255, 255, 255, .5);
    border-radius: 2rem;
    backdrop-filter: blur(20px);
    padding: 3rem 2rem 4rem;
    text-align: left;
    /* border: .2rem solid var(--bg-color); */
    transition: .5s ease;
    font-size: 1.9rem;


    
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: transparent;
    border: .1rem solid rgba(255, 255, 255, .5);
    border-radius: 1rem;
    backdrop-filter: blur(20px);
}

.footer-text p {
    font-size: 1.6rem;
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: lightpink;
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-iconTop a:hover {
    box-shadow: 0 0 1rem deeppink;
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: white;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background: transparent;
    border: .1rem solid hotpink;
    border-radius: 50%;
    font-size: 1rem;
    color: deeppink;
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.social-media a:hover {
	background: lightyellow;
	box-shadow: 0 0 1rem deeppink;
}

.btn {
    font-family: 'Playfair Display';
    display: inline-block;
    padding: 1rem 1.3rem;
    background: transparent;
    border-radius: 2rem;
    box-shadow: 0 0 1rem deeppink;
    font-size: 1.3rem;
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

.btn:hover {
/* background: lightyellow; */
	backdrop-filter: blur(50px);
	box-shadow: 0 0 3rem deeppink;

}

/* breakpoint */

/* breakpoint */

@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    .header {
        padding: 2rem 3%;
    }
    
    section {
        padding: 10rem 3% 2rem;
    }

    .footer {
        padding: 2rem 3%;
    }
}

@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }
    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: pink;
        border-top: .1rem solid rgb(255, 255, 255);
        box-shadow: 0 .5rem 1rem rgb(255, 255, 255);
        backdrop-filter: blur(20px);
        display: none;

    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
}