* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  /* font-family: 'Cedarville Cursive', cursive; */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


body {
  min-height: 100vh;
  /* background: url(./WangXian_pics/Mo.Dao.Zu.Shi.full.3523102.jpg) no-repeat; */
  background: black;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  overflow-y: auto;
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}



.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  border: .1rem solid rgba(255, 255, 255, .5);
  border-radius: 1rem;
  backdrop-filter: blur(20px);
}

.logo {
  font-size: 32px;
  color: black;
  text-decoration: none;
  font-weight: 700;
  filter: drop-shadow(0 0 5px lightyellow);
}

.navbar a {
  font-size: 18px;
  color: black;
  filter: drop-shadow(0 0 5px lightyellow);
  text-decoration: none;
  font-size: 500;
  margin-left: 35px;
  transition: .3s;
}

.navbar a:hover,
.navbar a.active {
  color: deeppink;
}

body {
  background: url(./megsPhotos/flower.png);
  background-size: 300px;
  background-position: center;
  pointer-events: auto;
  transition: .3s ease;
}

.main.active {
  filter: blur(15px);
  pointer-events: none;
}

#menu-icon {
  font-size: 3.6rem;
  color: black;
  filter: drop-shadow(0 0 5px white);
  display: none;
}

/* gallery section */


/* more kawaii food */


  /* last kawaii food seaction */



  /* Position the image container (needed to position the left and right arrows) */
 .last-cute-container {
  flex-wrap: wrap;
  position: relative;
  width: 500px;
  margin: inherit;
  }
  
  /* Hide the images by default */
  .lastSlides {
    display: none;
    width: 500px;
    margin: inherit;
    
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor2 {
    cursor: pointer;
    width: 500px;
    margin: inherit;
  }
  
  /* Next & previous buttons */
  .l-prev,
  .l-next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 14px;
    margin-top: -40px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .l-next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }


    /* Position the "prev button" to the left */

  .l-prev {
    left: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .l-prev:hover,
  .l-next:hover {
    background-color: deeppink;
  }
  
  /* Number text (1/3 etc) */
  .numberlasttext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .last-caption-container {
    text-align: center;
    background-color: deeppink;
    padding: 1px 16px;
    color: white;
  }
  
  .l-row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .l-column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .thumbnail-style {
    opacity: 0.6;
  }
  
  .active,
  .thumbnail-style:hover {
    opacity: 1;
  }

  .last-kawaii {
    display: flex;
    justify-content: space-around;
  }


  .last-kawaii-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;
    }
  

  .last-kawaii-container .last-kawaii-box {
    flex-wrap: wrap;
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 2rem deeppink;
    overflow: hidden;
    display: flex;
    width: 500px;
    /* margin: inherit; */
    text-align: center;
    /* left: 40%; */
    /* transform: translate(-10%, -281%); */
    
  }

  .lastSlides img {
    width: 40%;
  }


  /* kpop section */

  /* profile grid */

  .kpop-row {
    margin: 8px -16px;
  }
  
  /* Add padding BETWEEN each column (if you want) */
  .kpop-row,
  .kpop-row > .kpop-column {
    padding: 8px;
  }
  
  /* Create three equal columns that floats next to each other */
  .kpop-column {
    float: left;
    width: 33.33%;
    /* display: none; Hide columns by default */
  }
  
  /* Clear floats after rows */
  .kpop-row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
  .content {
    background-color: white;
    padding: 10px;
  }
  
  /* The "show" class is added to the filtered elements */
  .show {
    display: block;
  }
  
  /* Style the buttons */
  .kpop-btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: white;
    cursor: pointer;
  }
  
  /* Add a grey background color on mouse-over */
  .kpop-btn:hover {
    background-color: #ddd;
  }
  
  /* Add a dark background color to the active button */
  .kpop-btn.btn-active {
    background-color: #666;
     color: white;
  }




  
/* Position the image container (needed to position the left and right arrows) */
.gridContainer {
  flex-wrap: wrap;
  position: relative;
  width: 500px;
  margin: inherit;
  }
  
  /* Hide the images by default */
.gridSlides {
  display: none;
  width: 500px;
  margin: inherit;
  
}
  
  /* Add a pointer when hovering over the thumbnail images */
.cursor3 {
  cursor: pointer;
  width: 500px;
  margin: inherit;
}
  
  /* Next & previous buttons */
.gridPrev,
.gridNext {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 14px;
  margin-top: -40px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
  
  /* Position the "next button" to the right */
.gridNext {
  right: 0;
  border-radius: 3px 0 0 3px;
}


  /* Position the "prev button" to the left */

.gridPrev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.gridPrev:hover,
.gridNext:hover {
  background-color: deeppink;
}
  
/* Number text (1/3 etc) */
.numberGrid {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.gridCaptionContainer {
  text-align: center;
  background-color: deeppink;
  padding: 1px 16px;
  color: white;
}

.kpop1-row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.kpop1-column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.kpop1-demo {
  opacity: 0.6;
}
  
  .active,
  .kpop1-demo:hover {
    opacity: 1;
  }


.gridCaption {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  }
  

.gridCaption .gridMain-box {
  position: relative;
  border-radius: 2rem;
  box-shadow: 0 0 2rem deeppink;
  overflow: hidden;
  display: flex;
  width: 500px;
  /* margin: inherit; */
  text-align: center;
  left: 40%;
  /* transform: translate(-10%, -281%); */
  
}

.gridSlides img {
  width: 40%;
}


/* end of profile grid */

  


  


/* footer */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: transparent;
    border: .1rem solid rgba(255, 255, 255, .5);
    border-radius: 1rem;
    backdrop-filter: blur(20px);
}

.footer-text p {
    font-size: 1.6rem;
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: lightpink;
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-iconTop a:hover {
    box-shadow: 0 0 1rem deeppink;
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: white;
}

.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background: transparent;
  border: .1rem solid hotpink;
  border-radius: 50%;
  font-size: 1rem;
  color: deeppink;
  margin: 3rem 1.5rem 3rem 0;
  transition: .5s ease;
}

.social-media a:hover {
background: lightyellow;
box-shadow: 0 0 1rem deeppink;
}

.btn {
  font-family: 'Playfair Display';
  display: inline-block;
  padding: 1rem 1.3rem;
  background: transparent;
  border-radius: 2rem;
  box-shadow: 0 0 1rem deeppink;
  font-size: 1.3rem;
  letter-spacing: .1rem;
  font-weight: 600;
  transition: .5s ease;
}

.btn:hover {
/* background: lightyellow; */
backdrop-filter: blur(50px);
box-shadow: 0 0 3rem deeppink;

}



/* breakpoint */

@media (max-width: 1200px) {
  html {
      font-size: 55%;
  }
}

@media (max-width: 991px) {
  .header {
      padding: 2rem 3%;
  }
  
  section {
      padding: 10rem 3% 2rem;
  }

  .footer {
      padding: 2rem 3%;
  }
}

@media (max-width: 768px) {
  #menu-icon {
      display: block;
  }
  .navbar {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      padding: 1rem 3%;
      background: pink;
      border-top: .1rem solid rgb(255, 255, 255);
      box-shadow: 0 .5rem 1rem rgb(255, 255, 255);
      backdrop-filter: blur(20px);
      display: none;

  }

  .navbar.active {
      display: block;
  }

  .navbar a {
      display: block;
      font-size: 2rem;
      margin: 3rem 0;
  }
}